.header{
    background-color: gray;
    display: flex;
    align-items: center;
}
.header__logo{
    width: 100px;
   margin-top: 18px;
   margin-right: 20px;
   margin-left: 20px;
   object-fit: contain;
}
.header__search{
display: flex;
flex: 1;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__optionLineOne{
font-size: 10px;

}
.header__optionLineTwo{
font-size: 13px;
font-weight: 800;
}
.header__optionBasket{
    display: flex;
    align-items:center ;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__searchIcon{
    padding: 5px;
    height: 22px !important; 
    background-color: orange;
}
.header__searchInput{
    border: none;
    padding: 10px;
    height: 12px;
    width: 100%;
}